# EDA：欄位的資料類型介紹及處理 - 作業程式碼

本次作業需要完成兩個部分：
- Part1. 請按照下方程式碼提示，建立出 Series 與 DataFrame
- Part2. 請上「政府資料開放平臺」，找到感興趣的資料集（限定檔案格式要 CSV 檔或是 Excel 檔），並匯入至 Python，進一步使用 .loc、.iloc 挑選出特定的資料

政府資料開放平臺：https://data.gov.tw/

In [2]:
import numpy as np
import pandas as pd

## Part1. 請按照下方程式碼提示，建立出 Series 與 DataFrame

In [3]:
a_list = [53, 12, 50, 39, 28, 59]

pd.Series(a_list)

0    53
1    12
2    50
3    39
4    28
5    59
dtype: int64

In [5]:
a_2D_list = [[14, 23, 36],
             [41, 51, 64],
             [77, 83, 93]]
column_name_list = ["Column_A", "Column_B", "Column_C"]
index_list = ["Andy", "Tom", "Amy"]

""" 請使用 a_2D_list 建立 DataFrame，並分別使用 index_list、column_name_list 定義 Index 與 Column Name"""

pd.DataFrame(a_2D_list,columns=column_name_list,index=index_list)

      Column_A  Column_B  Column_C
Andy        14        23        36
Tom         41        51        64
Amy         77        83        93

## Part2. 請上「政府資料開放平臺」，找到感興趣的資料集（限定檔案格式要 CSV 檔或是 Excel 檔），並匯入至 Python，進一步使用 .loc、.iloc 挑選出特定的資料

In [8]:
""" 請匯入 CSV 檔案或是 Excel 檔案 """

raw_date=pd.read_csv("109itaiwanhotspots.csv")
raw_date

              地點                     地址   latitude   longitude
0     華南商業銀行路竹分行      721高雄市路竹區大社路90-2號  22.865499  120.263042
1         高雄順昌郵局  800高雄市新興區七賢一路104、106號  22.633889  120.314262
2     臺灣土地銀行新興分行      800高雄市新興區七賢一路480號  22.634608  120.304076
3     華南商業銀行新興分行      800高雄市新興區中山一路117號  22.632174  120.301344
4     兆豐國際商銀新興分行      800高雄市新興區中山一路308號  22.636466  120.302621
..           ...                    ...        ...         ...
818         茂林郵局       851高雄市茂林區茂林村8-3號  22.897250  120.671755
819   高雄市茂林區萬山部落        851高雄市茂林區萬山巷30號  22.908130  120.680890
820     高雄市茄萣區公所      852高雄市茄萣區濱海路四段27號  22.907902  120.180237
821  高雄市立圖書館茄萣分館    852高雄市茄萣區濱海路四段31巷1號  22.907803  120.180030
822         茄萣郵局       852高雄市茄萣區進學路158號  22.903999  120.186640

[823 rows x 4 columns]

In [23]:
""" 請使用 .loc 挑選出三組感興趣的資料，並詳細說明對哪三組資料感興趣"""
raw_date.loc[2:5,['地點']]

           地點
2  臺灣土地銀行新興分行
3  華南商業銀行新興分行
4  兆豐國際商銀新興分行
5    高雄市新興區公所

In [19]:
""" 請使用 .iloc 挑選出三組感興趣的資料，並詳細說明對哪三組資料感興趣"""
raw_date.sort_values(by="latitude",ascending=False).iloc[0:3]

               地點                      地址   latitude   longitude
816         那瑪夏郵局  849高雄市那瑪夏區達卡努瓦里大光巷230號  23.277196  120.720216
814    高雄市桃源區梅山部落          848高雄市桃源區梅山巷9號  23.273730  120.825910
813  玉山國家公園梅山遊客中心       848高雄市桃源區梅山巷44-5號  23.263056  120.826182